<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contato</h1>
      <p class="text-center lead">Crie ou edite seu contato abaixo.</p>

      <!-- Exibe as mensagens de erro/sucesso -->
      <%- include('includes/messages'); %>

      <!-- Verifica se está no modo de edição ou criação -->
      <% if(contato && contato._id) { %>
        <form id="form-cria-user" action="/contato/edit/<%= contato._id %>" method="POST">
      <% } else { %>
        <form id="form-cria-user" action="/contato/register" method="POST">
      <% } %>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <div class="form-group">
          <label>Nome</label>
          <!-- Verifica se "contato" existe e usa o valor, senão o campo fica vazio -->
          <input value="<%= contato ? contato.nome : '' %>" type="text" class="form-control" name="nome">
        </div>

        <div class="form-group">
          <label>Sobrenome</label>
          <input value="<%= contato ? contato.sobrenome : '' %>" type="text" class="form-control" name="sobrenome">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input value="<%= contato ? contato.email : '' %>" type="email" class="form-control" name="email">
        </div>

        <div class="form-group">
          <label>Telefone</label>
          <input value="<%= contato ? contato.telefone : '' %>" type="tel" class="form-control" name="telefone">
        </div>

        <button type="submit" class="btn btn-primary col-lg-5 my-2">Salvar</button>
      </form>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
